.accountinfocard_container {
  display: block;
  justify-content: flex-start;
  margin-bottom: 10px;
  align-items: left;
}

.accountinfocard_leftrightbuttons {
  font-family: "Helvetica Neue", sans-serif;
  padding-top: 10px;
}

.accountinfocard_leftrightbuttons button {
  padding: 5px;
  margin: 5px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  width: 35px;
  text-align: center;
  color: white;
  background-color: #cc2f00ff;
  font-size: 9px;
}

.accountinfocard_jsoncontainer {
  max-height: 800px auto;
  overflow-y: auto;
  border-radius: 10px;
  border: 2px solid #212630;
  padding: 8px;
  background-color: #151515;
}

.accountinfocard_leftrightbuttons .active:hover {
  font-weight: bold;
  background-color: transparent;
}

.accountinfocard_timestamp {
  margin-top: 10px;
  margin-left: 5px;
}

.accountinfocard_floatright {
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 2px;
  margin-right: 11px;
  flex-wrap: nowrap;
  align-items: right;
  float: right;
}

.accountinfocard_floatright a {
  color: #d3580c !important;
}

.accountinfocard_pagecounter {
  margin-left: 6px;
  color: grey;
  position: relative;
  top: 1px;
}
