@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* -------- fonts --------------------------- */
:root {
  --font-sans: var(--font-inter), -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

body {
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.body,
.rt-BaseCard,
.radix-themes {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto;
}

/* -------- Changes to remove boxes --------- */

:root {
  --box-margin: 10px;
}

.box-margin-bottom {
  margin-bottom: var(--box-margin);
}

.box-margin-div {
  height: var(--box-margin);
}

/* -------- Dynamic page size ---------------- */

.rt-ContainerInner {
  width: 100%;
}

:where(.rt-Container.rt-r-size-4) .rt-ContainerInner {
  max-width: none;
}

.rt-ContainerInner {
  max-width: none !important;
}

/* -------- chartjs 2 lines on mobile -------- */

.chartjs-reactivechart-title {
  float: left;
  margin-left: 11px;
  user-select: text;
  font-size: 18px;
}

.chartjs-reactivechart-controls {
  display: flex;
  justify-content: flex-end;
}

/* Responsive adjustments for mobile devices */
@media (max-width: 600px) {
  .chartjs-reactivechart-title {
    float: none;
    margin-left: 0;
    display: block;
    width: 100%;
    padding-bottom: 5px;
  }
  .chartjs-reactivechart-controls {
    justify-content: center;
    display: block; /* Change flex to block to stack children vertically */
    width: 100%; /* Ensure it takes up full width */
    padding-bottom: 5px;
  }
  div.rs-picker-daterange,
  div.rs-picker-daterange > div.rs-input-group {
    width: 320px;
  }
}

/* -------- Reference pallete -------- */

/* Designers base color pallete
:root {
    --color-primary/key-600: #290900ff;
    --color-primary/key-300: #ff3900ff; 
    --color-primary/key-200: #ff6839ff; 
    --color-primary/interactive/interactive-700: #410e00ff; 
    --color-primary/interactive/interactive-550: #841d00ff; 
    --color-primary/interactive/interactive-450: #b82900ff; 
    --color-primary/interactive/interactive-400: #d22f00ff; 
    --color-neutral/key-650: #05080fff; 
    --color-neutral/key-550: #0c121aff; 
    --color-neutral/key-475: #171c26ff; 
    --color-neutral/key-450: #1b212aff; 
    --color-neutral/key-425: #212630ff; 
    --color-neutral/key-350: #5e6167ff; 
    --color-neutral/key-200: #787a7eff; 
    --color-neutral/key-100: #b9b9b9ff; 
    --color-neutral/key-25: #edededff; 
    --color-neutral/key-0: #ffffffff; 
    --color-neutral/interactive-state/interactive-550: #0c121aff; 
    --color-neutral/interactive-state/interactive-450: #131821ff; 
    --color-neutral/interactive-state/interactive-375: #2e333cff; 
    --color-neutral/interactive-state/interactive-350: #5e6167ff; 
    --color-neutral/interactive-state/interactive-100: #b9b9b9ff; 
    --color-secondary-color/secondary-225: #ffe60aff; 
    --color-secondary-color/secondary-150: #fff044ff; 
    --color-secondary-color/interactive-state/interactive-875: #292500ff; 
    --color-secondary-color/interactive-state/interactive-750: #524a00ff; 
    --color-semantic-colors/danger/key-850: #2e040bff; 
    --color-semantic-colors/danger/key-525: #db0024ff; 
    --color-semantic-colors/danger/key-450: #f02647ff; 
    --color-semantic-colors/danger/key-350: #ff5f6eff; 
    --color-semantic-colors/danger/interactive-state/interactive-800: #410711ff; 
    --color-semantic-colors/danger/interactive-state/interactive-650: #8b0d22ff; 
    --color-semantic-colors/danger/interactive-state/interactive-500: #e20c30ff; 
    --color-semantic-colors/danger/interactive-state/blood-red: #6d0000ff; 
    --color-semantic-colors/danger/interactive-state/red: #ff0a0aff; 
    --color-semantic-colors/success/success-900: #002305ff; 
    --color-semantic-colors/success/success:-550: #009e17ff; 
    --color-semantic-colors/warning/warning:-925: #191600ff; 
    --color-semantic-colors/warning/warning:-225: #ffe60aff; 
    --color-semantic-colors/warning/interactive-state/dark-orange: #ff8a00ff; 
    --color-semantic-colors/warning/interactive-state/sepia: #5b3100ff; 
    --color-semantic-colors/info/info:-825: #000123ff; 
    --color-semantic-colors/info/info:-225: #7679ffff; 
    --color-label-(chart-&-projects)/coquelicot: #ff3900ff; 
    --color-label-(chart-&-projects)/winter-sky: #ff1d70ff; 
    --color-label-(chart-&-projects)/magenta: #ec25f4ff; 
    --color-label-(chart-&-projects)/medium-slate-blue: #7679ffff; 
    --color-label-(chart-&-projects)/azure: #0082fbff; 
    --color-label-(chart-&-projects)/caribbean-green: #00d7b0ff; 
    --color-label-(chart-&-projects)/dark-pastel-green: #0eba53ff; 
    --color-label-(chart-&-projects)/selective-yellow: #ffbc0aff; 
}
*/

/* -------- Global vars -------- */

:root {
  --interactive-element-color: #ffcdb5;
  --interactive-element-background-color: #3e1e1d;
  --interactive-element-selected-color: #551b17;
  --interactive-element-line-color: #ac4c39;
  --interactive-element-line-color-darker: #ab5a49;
}

/* -------- Mobile support -------- */

@media (max-width: 650px) {
  .hide-on-mobile {
    display: none;
  }
}

@media (max-width: 600px) {
  body {
    zoom: 0.8;
  }
}

/* -------- Radix ui styles -------- */

.rt-Card:where(.rt-variant-surface) {
  --card-background-color: initial;
}

@media (hover: hover) {
  .rt-BaseButton.rt-variant-soft:hover {
    background-color: var(--interactive-element-selected-color);
  }
}

@media (max-width: 600px) {
  .rt-BaseTabListTriggerInner,
  .rt-BaseTabListTriggerInnerHidden {
    padding: 4px;
  }
}

iframe {
  display: none;
}

.hidden {
  display: none;
}

.orangelinks {
  cursor: var(--cursor-link) !important;
  text-decoration-line: none !important;
  text-decoration-style: solid !important;
  text-decoration-thickness: min(2px, max(1px, 0.05em)) !important;
  text-underline-offset: calc(0.025em + 2px) !important;
  text-decoration-color: var(--interactive-element-line-color) !important;
  color: var(--interactive-element-line-color) !important;
}

.orangelinks:hover {
  text-decoration-line: underline !important;
  cursor: pointer !important;
}

.rt-Button {
  color: var(--interactive-element-color);
}

.rt-BaseTabListTrigger:where([data-state="active"], [data-active])::before {
  background-color: var(--interactive-element-line-color);
}

.custom-tooltip {
  background-color: hsl(var(--background) / 0.95);
  border: 1px solid hsl(var(--border));
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.3), 0 2px 4px -2px rgb(0 0 0 / 0.2);
  backdrop-filter: blur(8px);
}

.custom-tooltip .label {
  margin-bottom: 0.5rem;
  color: hsl(var(--foreground));
  font-size: 0.875rem;
  font-weight: 500;
}
