/* -------- Search bar styles -------- */

.navbar {
  contain: "none";
  overflow: "visible";
}

.search {
  position: relative;
  z-index: 9999;
  transition: width 0.3s ease-in-out; /* Add this line */
}

.search * {
  font-size: 10px;
}

@media (max-width: 600px) {
  .search * {
    font-size: 9px;
  }
}

.search > div > .wrapper {
  color: var(--interactive-element-color);
  background-color: var(--interactive-element-background-color);
  border-color: transparent;
  border-radius: 20px;
}

.search > div > .wrapper:hover,
.search > div > .wrapper:active {
  border-color: var(--interactive-element-line-color);
}

.search > div > .wrapper li.selected {
  background-color: var(--interactive-element-selected-color);
}

.search > div > .wrapper input {
  color: var(--interactive-element-color);
  background-color: var(--interactive-element-background-color);
  margin-right: 7px;
}

.search > div > .wrapper div.line {
  border-top-color: var(--interactive-element-line-color);
}

.search > div > .wrapper > div {
  min-height: 27px;
}

#NavBarButtons {
  transition: opacity 0.5s, visibility 0.5s;
}

@media (max-width: 380px) {
  .search {
    visibility: hidden;
  }
}

.search > div > .wrapper:first-child svg {
  fill: var(--interactive-element-line-color) !important;
  width: 15px;
  height: 15px;
}

.search > div > .wrapper:first-child svg.search-icon {
  margin-left: 10px;
}

.search > div > .wrapper:first-child input {
  padding: 0 0 0 7px;
  font-size: 1.3em;
}

.search > div > .wrapper:first-child div.clear-icon {
  margin: 2px 9px 0 0;
}

.searchBarElement {
  display: block;
  text-align: left;
  font-size: 1.3em;
  color: "#fff";
}

/* -------- Global vars but used to hide datepicker overlay -------- */

.hide-animation {
  animation: hide 0.1s forwards;
}

@keyframes hide {
  to {
    opacity: 0;
    visibility: hidden;
  }
}

/* --------- legacy theme reset background color -------------------- */

[data-is-root-theme="true"] {
  background-color: var(--background-color);
}
