@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* :root {
    --color-primary/key-600: #290900ff;
    --color-primary/key-300: #ff3900ff; 
    --color-primary/key-200: #ff6839ff; 
    --color-primary/interactive/interactive-700: #410e00ff; 
    --color-primary/interactive/interactive-550: #841d00ff; 
    --color-primary/interactive/interactive-450: #b82900ff; 
    --color-primary/interactive/interactive-400: #d22f00ff; 
    --color-neutral/key-650: #05080fff; 
    --color-neutral/key-550: #0c121aff; 
    --color-neutral/key-475: #171c26ff; 
    --color-neutral/key-450: #1b212aff; 
    --color-neutral/key-425: #212630ff; 
    --color-neutral/key-350: #5e6167ff; 
    --color-neutral/key-200: #787a7eff; 
    --color-neutral/key-100: #b9b9b9ff; 
    --color-neutral/key-25: #edededff; 
    --color-neutral/key-0: #ffffffff; 
    --color-neutral/interactive-state/interactive-550: #0c121aff; 
    --color-neutral/interactive-state/interactive-450: #131821ff; 
    --color-neutral/interactive-state/interactive-375: #2e333cff; 
    --color-neutral/interactive-state/interactive-350: #5e6167ff; 
    --color-neutral/interactive-state/interactive-100: #b9b9b9ff; 
    --color-secondary-color/secondary-225: #ffe60aff; 
    --color-secondary-color/secondary-150: #fff044ff; 
    --color-secondary-color/interactive-state/interactive-875: #292500ff; 
    --color-secondary-color/interactive-state/interactive-750: #524a00ff; 
    --color-semantic-colors/danger/key-850: #2e040bff; 
    --color-semantic-colors/danger/key-525: #db0024ff; 
    --color-semantic-colors/danger/key-450: #f02647ff; 
    --color-semantic-colors/danger/key-350: #ff5f6eff; 
    --color-semantic-colors/danger/interactive-state/interactive-800: #410711ff; 
    --color-semantic-colors/danger/interactive-state/interactive-650: #8b0d22ff; 
    --color-semantic-colors/danger/interactive-state/interactive-500: #e20c30ff; 
    --color-semantic-colors/danger/interactive-state/blood-red: #6d0000ff; 
    --color-semantic-colors/danger/interactive-state/red: #ff0a0aff; 
    --color-semantic-colors/success/success-900: #002305ff; 
    --color-semantic-colors/success/success:-550: #009e17ff; 
    --color-semantic-colors/warning/warning:-925: #191600ff; 
    --color-semantic-colors/warning/warning:-225: #ffe60aff; 
    --color-semantic-colors/warning/interactive-state/dark-orange: #ff8a00ff; 
    --color-semantic-colors/warning/interactive-state/sepia: #5b3100ff; 
    --color-semantic-colors/info/info:-825: #000123ff; 
    --color-semantic-colors/info/info:-225: #7679ffff; 
    --color-label-(chart-&-projects)/coquelicot: #ff3900ff; 
    --color-label-(chart-&-projects)/winter-sky: #ff1d70ff; 
    --color-label-(chart-&-projects)/magenta: #ec25f4ff; 
    --color-label-(chart-&-projects)/medium-slate-blue: #7679ffff; 
    --color-label-(chart-&-projects)/azure: #0082fbff; 
    --color-label-(chart-&-projects)/caribbean-green: #00d7b0ff; 
    --color-label-(chart-&-projects)/dark-pastel-green: #0eba53ff; 
    --color-label-(chart-&-projects)/selective-yellow: #ffbc0aff; 
}
*/

@media (max-width: 650px) {
  .hide-on-mobile {
    display: none;
  }
}

@media (max-width: 600px) {
  body {
    zoom: 0.8;
  }
}

@media (max-width: 600px) {
  .rt-BaseTabListTriggerInner,
  .rt-BaseTabListTriggerInnerHidden {
    padding: 4px;
  }
}

.navbar {
  contain: "none";
  overflow: "visible";
}

.search {
  position: relative;
  z-index: 9999;
  transition: width 0.3s ease-in-out; /* Add this line */
}

.search * {
  font-size: 10px;
}

@media (max-width: 600px) {
  .search * {
    font-size: 9px;
  }
}

/* #ac4c39 this is the color from the radix-ui theme */

.search > div > .wrapper {
  color: #d1aca4;
  background-color: #3e1e1d;
  border-color: transparent;
  border-radius: 20px;
}

.search > div > .wrapper:hover,
.search > div > .wrapper:active {
  border-color: #ac4c39;
}

.search > div > .wrapper li.selected {
  background-color: #551b17;
}

.search > div > .wrapper input {
  color: #d1aca4;
  background-color: #3e1e1d;
  margin-right: 7px;
}

.search > div > .wrapper div.line {
  border-top-color: #ac4c39;
}

.search > div > .wrapper > div {
  min-height: 27px;
}

#NavBarButtons {
  transition: opacity 0.5s, visibility 0.5s;
}

@media (max-width: 380px) {
  .search {
    visibility: hidden;
  }
}

.search > div > .wrapper:first-child svg {
  fill: #ff8e6c !important;
  width: 15px;
  height: 15px;
}

.search > div > .wrapper:first-child svg.search-icon {
  margin-left: 10px;
}

.search > div > .wrapper:first-child input {
  padding: 0 0 0 7px;
  font-size: 1.3em;
}

.search > div > .wrapper:first-child div.clear-icon {
  margin: 2px 9px 0 0;
}

iframe {
  display: none;
}

.hidden {
  display: none;
}

a {
  cursor: var(--cursor-link);
  text-decoration-line: none;
  text-decoration-style: solid;
  text-decoration-thickness: min(2px, max(1px, 0.05em));
  text-underline-offset: calc(0.025em + 2px);
  text-decoration-color: var(--accent-a5);
  text-decoration-color: #551b17;
  color: var(--accent-a11);
}

a:hover {
  text-decoration-line: underline;
}
